* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.ability-scores--header {
  margin-top: 0px;

}

.header-default {
  padding-top: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.4rem;
  color:  black;
  margin-left: auto;
  margin-right: auto;


}


.container>.ability-score-container {

  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  position: relative;
  margin-top: 25px;

}


.ability-score-container>div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: left;
  font-size: 1.0rem;
  margin-left: 0rem;
  font-weight: bold;

}

.ability-score-container>.ability-score {
  justify-self: center;
  text-align: center;
  font-size: 4rem;
  color: black;
  border-radius: 10px;
  background-color: rgba(2, 0, 106, 0.153);
  width: auto;
  height: auto;
  height: 6rem;
  width: 6rem;

}

.ability-score-container>.ability-score-name {
  display: flexbox;
  text-align: center;
  position: relative;

}

.ability-score-container>.ability-score-name>h2 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 0rem;
  text-align: center;
  margin-top: 2rem;

}

.ability-score-container>.ability-score {
  position: relative;
}





.ability-score-container>div>span {
  font-size: 1rem;
  margin-right: 0.4rem;
  text-align: right;
  font-weight: normal;
  text-transform: uppercase;
}


.ability-score>.button--ability {
  height: 50%;
  margin: 0;
  border-radius: 0;
  padding: 0.4rem;
  font-size: 3rem;
  line-height: 0;
  border: none;

}

.ability-score>.button--ability--increase {

  position: absolute;
  left: 100%;
  top: 0;
  height: 50%;
  width: 30%;


}

.ability-score>.button--ability--decrease {
  position: absolute;
  left: 100%;
  bottom: 0;
  height: 50%;
  width: 30%;

}



.armour-container, .weapons-container, .gear-container {
  padding-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80%;
  margin: auto;
}

.armour-container {
  align-items: center;
}

 .equipment-restrictions {
  margin: auto;
  width: 80%;
  color: grey;
  font-style: italic;
}

.equipment-container--header {
  width: 80%;
  margin: auto;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1.4rem;

}

.armour-container > .radio-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
}

.armour-container > .radio-container > .armour-radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1rem;
  font-weight: normal;
  place-items: left;
  justify-content: left;
  
}

.armour-radio > .form-check-input {
  vertical-align: center;
  margin-top: 4px;
}

.backpack-container {
  margin: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0px;
  text-align: center;
}

.backpack-container > .armour-backpack, .backpack-container > .weapons-backpack {
  display: grid;
  grid-template-columns: auto min-content min-content;
  grid-gap: 2px;
  margin-left: 10px;
}

.weapons-backpack {
  padding-top: 10px;
  border-top: 1px solid grey;
}

.backpack-container > .gear-backpack {
  border-top: 1px solid grey;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 10px;
}

.backpack-item {
  text-align: center;
  vertical-align: center;
  line-height: 100%;
  font-size: 1rem;
  position: relative;
  list-style: none;
  padding: 5px;
  width: auto;
}

.backpack-item.backpack-item--weapon, .backpack-item.backpack-item--armour {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.backpack-item > .button--equipment {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: transparent;
  border: 1px solid black;
  border-radius: 4px;
}

.backpack-item > .button--equipment:hover, 
.backpack-item > .button--equipment:focus {
  box-sizing: border-box;
  position: absolute;
  color: #FFF;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 100%;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #E50000;
  background-color: #e50000e0;
  border-radius: 4px;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 1;
}



.button--ability--decrease>.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-top: 2.2rem solid rgba(255, 0, 0, 0.5);

}

.button--ability--decrease>.arrow-down:hover {
  border-top: 2.2rem solid rgba(255, 0, 0, 1);

}


.button--ability--increase>.arrow-up {
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 2.2rem solid rgb(2, 187, 2, 0.8);

}

.button--ability--increase>.arrow-up:hover {
  border-bottom: 2.2rem solid rgb(9, 235, 2, 1);

}


.class-ability-menu {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.class-ability-menu>.class-ability-menu--header {
  margin-top: 2rem;
  font-size: 2rem;
  color: rgb(34, 34, 34);

  

}

.class-ability-menu>.class-ability-menu--abilities {
  font-size: 1.2rem;
  margin: auto;
  width: 80%;
}

.class-ability {
  padding-left: 10px;
  list-style: square;
}

.class-ability-list {
  font-size: 1.4rem;
  text-align: left;
  width: fit-content;
  margin: auto;
}


.class-details {
  font-size: 1.6rem;
  display: inline-flex;
  position: absolute;
  border-radius: 4px;
  z-index: 2;
  margin: auto;
  right: 0;
  left: 0;
  top: 110%;
  width: 98%;
  justify-content: center;
  background-color: whitesmoke;
}


.class-details>.class-details--arrow {
  width: 0;
  height: 0;
  margin: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1rem solid #E50000;
  ;
}


.class-description-list {
  font-size: 1.5rem;
  text-align: left;
  padding: 2rem;

}




div.ability-screen {

  display: inline-block;
  width: 100vw;
  max-width: 600px;
  position: relative;
  padding: 0;
  margin: 0;

}


div.character-menu {

  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0px 0px;
  margin: 0;
  margin-top: -1rem;
  width: 100vw;
  max-width: 600px;
  min-width: 300px;
  min-height: 600px;
  height: 100%;
  position: relative;

}

.class-info {
  text-align: left;
  font-size: 1rem;
  max-width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.501);
  border-bottom: 1px solid rgba(0, 0, 0, 0.501);
  border-radius: 15px;

}

.class-options-screen>.button.button--hp.button-primary {
  background-color: #FF0000;
  margin: 2rem;
}

.class-options-container>.button-class-option {
  max-height: 40px;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 400px) {

  .ability-screen>div.class-options-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    width: 100%;
    position: relative;
  }

  .class-options-container>.button-class-option {
    max-height: 80px !important;

  }


}

@media screen and (max-width: 600px) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(85, 83, 83, 0.8), rgba(56, 56, 56, 0.8)),
      url(../img/header.svg);
    background-size: cover;
    height: 6rem;
  }

}

.class-options-container>.button-class-option:hover {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  color: red;
  background-color: rgba(0, 0, 0, 0.05)
}

.class-options-container>.button-class-option:focus {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  color: red;
}

div.ability-mod {
  font-size: 1.0rem;
  padding-right: 0.8rem;
}

div>.class-options-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  padding-right: 2px;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  max-width: 100%;
  min-height: 80px;
  margin-bottom: 4rem;
  padding-top: 0rem;

}


div>.class-options-container>.button:disabled {
  color: rgba(0, 0, 0, 0.1);

}

.equipment-screen {
  display: flex;
  overflow: visible;
  flex-flow: column nowrap;
  position: relative;
  font-size: 1.4rem;
  height: 100%;
}

.equipment-screen>.equipment-screen--header {
  display: inline-flex;
  font-size: 2rem;
  margin: auto;
  right: 0;
  left: 0;
  width: 98%;
  justify-content: center;
}

.gold-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 38px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.gold > .button--gold {
  position: absolute;
  padding: 0;
  text-align: center;
  left: 0;
  right: 0;
  border-radius: 2px;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.gold {
  position: sticky;
  top: 0;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  border-radius: 4px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  white-space: nowrap;
  height: 38px;
  width: 100px;
  background-color: #F2D649;
  color:#2a2a2d;

}

.equipment-screen>.armour-container {
  margin-top: 1rem;
}

.button--character-details {

  width: min-content;
  margin: auto;
  margin-top: 20px;
}

.header {
  text-align: center;
  min-height: 4rem;
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;

}

.header>.button--roll {

  color: #FF0000;
  background-color: black;
  width: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  border: none;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 200%);
}

.header>.button--roll:hover {
  color: #E50000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  padding: 0;
}

.character-menu>div>.hp-container {

  display: grid;
  grid-template-columns: 6rem auto 6rem auto 6rem;
  font-size: 3rem;
  padding: 2rem;
  padding-top: 4rem;
  max-width: 340px;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  justify-items: center;

}

.hp-container>div {


  background-color: rgba(2, 0, 106, 0.153);
  border-radius: 10px;
  font-size: 4rem;
  position: relative;
  font-weight: normal;
  width: 6rem;
  height: 6rem
}

.hp-container>.hp-container--math {
  border: none;
  background-color: transparent;
  width: 2rem;
}

.hp-container>div>div {
  font-size: 1.2rem;
  text-transform: uppercase;
  position: absolute;
  top: -2.5rem;
  margin: auto;
  left: -4rem;
  right: -4rem;
  font-weight: 600;
  max-height: 12rem;
}

.ability-score-container > .point-buy {
  position: absolute;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
  left: 50%;
  transform: translate(-50%);
  top: -2rem;
  text-align: center;

}

.prime-req {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.saving-throws-menu {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 340px;
  margin: auto;
  border-bottom: 1px solid black;
}

.saving-throws-menu--header {
  font-size: 2rem;
  margin: auto;
  margin-bottom: 4rem;
}

.saving-throws.container {
  position: relative;
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  margin: auto;
  margin-bottom: 4rem;
}

.saving-throws.container::after {
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 40%;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 44%, 76% 100%, 24% 100%, 0% 44%);
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.549);
  text-align: center;

}

.saving-throws.container>div {
  position: absolute;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 12rem;
  z-index: 1;
}

.saving-throws.container>.saving--value {
  color: white;
  font-size: 1.6rem;
}

.saving-throws.container>.saving-throw--death {
  top: -20%;
  left: -10%;
}

.saving-throws.container>.saving-throw--death--value {
  top: 5%;
  left: -10%;
}

.saving-throws.container>.saving-throw--wands {
  top: 36%;
  left: 68%;
}

.saving-throws.container>.saving-throw--wands--value {
  top: 36%;
  left: 22%;
}

.saving-throws.container>.saving-throw--paralysis {
  top: 105%;
  left: 50%;
}

.saving-throws.container>.saving-throw--paralysis--value {
  bottom: -2%;
  right: -26%;
}

.saving-throws.container>.saving-throw--breath {
  top: 105%;
  left: -65%;
}

.saving-throws.container>.saving-throw--breath--value {
  bottom: -2%;
  left: -28%;
}

.saving-throws.container>.saving-throw--spells {
  top: 36%;
  left: -90%;
}

.saving-throws.container>.saving-throw--spells--value {
  top: 36%;
  left: -45%;
}

.arrow--down {
  width: 0;
  height: 0;
  margin: 1rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-top: 1.2rem solid black;

}



.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 2rem;
  color: white;
}

.wrapper {
  min-height: 900px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1rem;
  background-image: linear-gradient(to right bottom, rgba(85, 83, 83, 0.8), rgba(56, 56, 56, 0.8)),
    url(../img/header.svg);
  background-size: cover;
  background-position: bottom;
  height: 100%;
}