* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container>.ability-score-container {

  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  position: relative;
  margin-top: 5rem;

}

.ability-score-container>div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: left;
  font-size: 1.0rem;
  margin-left: 0rem;
  font-weight: bold;

}

.ability-score-container>.ability-score {
  justify-self: center;
  text-align: center;
  font-size: 4rem;
  color: black;
  border-radius: 10px;
  background-color: rgba(2, 0, 106, 0.153);
  width: auto;
  height: auto;
  height: 6rem;
  width: 6rem;

}

.ability-score-container>.ability-score-name {
  display: flexbox;
  text-align: center;
  position: relative;

}

.ability-score-container>.ability-score-name>h2 {
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 0rem;
  text-align: center;
  margin-top: 2rem;

}

.ability-score-container>.ability-score {
  position: relative;
}





.ability-score-container>div>span {
  font-size: 1rem;
  margin-right: 0.4rem;
  text-align: right;
  font-weight: normal;
  text-transform: uppercase;
}


.ability-score>.button--ability {
  height: 50%;
  margin: 0;
  border-radius: 0;
  padding: 0.4rem;
  font-size: 3rem;
  line-height: 0;
  border: none;

}

.ability-score>.button--ability--increase {

  position: absolute;
  left: 100%;
  top: 0;
  height: 50%;
  width: 30%;


}

.ability-score>.button--ability--decrease {
  position: absolute;
  left: 100%;
  bottom: 0;
  height: 50%;
  width: 30%;

}

.button--ability--decrease>.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-top: 2.2rem solid rgba(255, 0, 0, 0.5);


}

.button--ability--decrease>.arrow-down:hover {
  border-top: 2.2rem solid rgba(255, 0, 0, 1);

}


.button--ability--increase>.arrow-up {
  width: 0;
  height: 0;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
  border-bottom: 2.2rem solid rgb(2, 187, 2, 0.8);

}

.button--ability--increase>.arrow-up:hover {
  border-bottom: 2.2rem solid rgb(9, 235, 2, 1);

}


.class-details {
  font-size: 2rem;
  display: inline-flex;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 110%;
  justify-content: center;
}

.class-details>.class-details--arrow {
  width: 0;
  height: 0;
  margin: 1rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1.2rem solid #E50000;
  ;
}


.class-description-list {
  font-size: 1.5rem;
  text-align: left;
  padding: 2rem;
}


div.ability-screen {

  display: inline-block;
  width: 100vw;
  max-width: 600px;
  position: relative;

}


div.character-menu {

  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0px 0px;
  margin: 0px 0px;
  width: 100vw;
  max-width: 600px;
  min-width: 300px;
  min-height: 600px;
  position: relative;

}

.class-info {
  text-align: left;
  font-size: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  max-width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.501);
  border-bottom: 1px solid rgba(0, 0, 0, 0.501);
  border-radius: 15px;

}

.class-options-screen>.button.button--hp.button-primary {
  background-color: #FF0000;
  font-size: 1.5rem;
}

.class-options-container>.button-class-option {
  font-size: 1rem;
  max-height: 40px;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 400px) {

  .ability-screen>div.class-options-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    width: 100%;
    position: relative;
  }

  .class-options-container>.button-class-option {
    max-height: 80px !important;
    font-size: 1.2rem !important;
  }


}

@media screen and (max-width: 600px) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(85, 83, 83, 0.8), rgba(56, 56, 56, 0.8)),
      url(../img/header.svg);
    background-size: cover;
  }

}

.class-options-container>.button-class-option:hover {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  color: red;
  background-color: rgba(0, 0, 0, 0.05)
}

.class-options-container>.button-class-option:focus {
  font-size: 1.1rem;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  color: red;
}

div.ability-mod {
  font-size: 1.0rem;
  padding-right: 0.8rem;
}

div>.class-options-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
  padding-right: 2px;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  max-width: 100%;
  min-height: 80px;
  margin-bottom: 0;
}


div>.class-options-container>.button:disabled {
  color: rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}


.header {
  text-align: center;
  min-height: 8rem;
  color: whitesmoke;
  display: inline-block;
  width: 100%;
  position: relative;

}

.header>.button--roll {
  font-size: 2.5rem;
  color: #FF0000;
  background-color: black;
  width: 10rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  border: none;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 200%);
}

.header>.button--roll:hover {
  font-size: 2.5rem;
  color: #E50000;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 10rem;
  padding: 0;
}

.character-menu>div>.hp-container {

  display: grid;
  grid-template-columns: 6rem auto 6rem auto 6rem;
  font-size: 3rem;
  padding: 2rem;
  padding-top: 4rem;
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
  justify-items: center;

}

.hp-container>div {


  background-color: rgba(2, 0, 106, 0.153);
  border-radius: 10px;
  font-size: 4rem;
  position: relative;
  font-weight: normal;
  width: 6rem;
  height: 6rem
}

.hp-container>.hp-container--math {
  border: none;
  background-color: transparent;
  width: 2rem;
}

.hp-container>div>div {
  font-size: 1.2rem;
  text-transform: uppercase;
  position: absolute;
  top: -2.5rem;
  margin: auto;
  left: -4rem;
  right: -4rem;
  font-weight: 600;
  max-height: 12rem;
}

.point-buy {
  margin-bottom: 1rem;
}


.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.8rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  height: 900px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
  background-image: linear-gradient(to right bottom, rgba(85, 83, 83, 0.8), rgba(56, 56, 56, 0.8)),
    url(../img/header.svg);
  background-size: cover;
  background-position: bottom;
}